h1 {
    color: red;
}
p {
    color: green;
}
h2 {
    color: green;
    text-align: center;
    font-size: 50px;
}

/* Este è um comentàrio */

/*
     Este
     è
     um
     comentàrio
*/
/* Classe e ides */
.p-texto {
    color: lightgreen;
}
#titulo-app {
    color: purple;
    font-size: 40px;
}
/* Especifidade */
div p {
    color: red;
}
.p-dentro-da-div{
    color: blue;
}
#p-super-especifico {
    color: green;
}
/* Cores */
.nome {
    color: orange;
}
.hexa {
    color: #6a40c4;
}
.rgba {
    color: rgb(4, 22, 23);
}
/* Backgrounds */

.div-background {
    background-image: url('img/sol.jpg');
    height: 300px;
}

.titulo-background {
    text-align: center;
    background-color: #000;
    color: #FFF;
}

/* Fontes */

.family {
    color: #000;
    font-size: 40px;
}

.family.serif {
    color: green;
}
.serif {
    font-family: "times new roman";
}

.sans-serif {
    font-family: arial;
}

.monospace {
    font-family: "courier new";
}
.italic {
    font-style: italic;
}
.oblique {
    font-style: oblique;
}
.bold {
    font-weight: bold;
}
.variant
{
    font-variant: small-caps;
}

/* Box model */
body {
    margin: 0;
}

.boxmodel {
    width: 200px;
    height: 200px;
    background-color: red;
    /* geral */
   /* padding: 20px; */
  /* padding: 20px; */

   /* especifico */
   /*
   padding-top: 30px;
   padding-left: 10px;
   padding-right: 20px;
   padding-bottom: 5px; */

   /*especifico agrupado */
   /*
   padding: 30px 20px 5px 10px;
   /* especifico agrupado 3 medidas - top, right-left, bottom */
   /*
   padding: 30px 20px 5px; */
   /* especifico agrupado 2 medidas - top-botthom, rigth - left */
   padding: 30px 20px;
}

.paragrafo-box {
    color: #000;
    margin: 0;
}